table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="left" valign="top" style="font-size:0; padding: 20px;" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px;  margin: 0; text-transform: uppercase; display:block").
        indications and usage
      span(class="gray_isi f_bold" style="font-size: 15px;  margin: 0; display:block; padding-bottom:20px;").
        For the treatment of adults with acute manic or mixed episodesassociated with bipolar I disorder.
      span(class="purple f_bold" style="font-size: 17px;  margin: 0; text-transform: uppercase; display:block; padding-bottom:10px;").
        Important Safety Information
      table()
        tr
          td(align="left" valign="top" style="font-size:0; padding: 10px; border:2px solid #444444;" bgcolor="#ffffff")
            span(class="purple f_bold" style="font-size: 17px;  margin: 0; text-transform: uppercase; display:block; padding-bottom:20px;").
              WARNING: INCREASED MORTALITY IN ELDERLY PATIENTS WITH DEMENTIA-RELATED PSYCHOSIS
            span(class="gray_isi f_bold" style="font-size: 15px;  margin: 0; display:block;").
              Elderly patients with dementia-related psychosis treated with antipsychotic drugs are at an increased risk of death. VRAYLAR is not approved for treatment of patients with dementia-related psychosis.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Contraindication:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        VRAYLAR is contraindicated in patients with known hypersensitivity. Reactions have included rash, pruritus, urticaria, and events suggestive of angioedema.Cerebrovascular Adverse Reactions, Including Stroke: In clinical trials with antipsychotic drugs, elderly subjects with dementia had a higher incidence of cerebrovascular adverse reactions, including fatalities vs placebo. VRAYLAR is not approved for the treatment of patients with dementia-related psychosis.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Neuroleptic Malignant Syndrome (NMS):
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        NMS, a potentially fatal symptom complex, has been reported with antipsychotic drugs. NMS may cause hyperpyrexia, muscle rigidity, delirium, and autonomic instability. Additional signs may include elevated creatine phosphokinase, myoglobinuria (rhabdomyolysis), and acute renal failure. Manage with immediate discontinuation, intensive symptomatic treatment, and monitoring.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Tardive Dyskinesia (TD):
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Risk of developing TD (a syndrome of potentially irreversible, involuntary, dyskinetic movements) and the likelihood it will become irreversible may increase with the duration of treatment and the cumulative dose. The syndrome can develop after a relatively brief treatment period, even at low doses, or after treatment discontinuation. If signs and symptoms of TD appear, drug discontinuation should be considered.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Late-Occurring Adverse Reactions:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Adverse events may first appear several weeks after initiation of VRAYLAR, probably because plasma levels of cariprazine and its major metabolites accumulate over time. As a result, the incidence of adverse reactions in short-term trials may not reflect the rates after longer term exposures. Monitor for adverse reactions, including extrapyramidal symptoms (EPS) or akathisia, and patient response for several weeks after starting VRAYLAR and after each dosage increase. Consider reducing the dose or discontinuing the drug.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Metabolic Changes:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Atypical antipsychotics have caused metabolic changes, such as:
      table()&attributes(tableAtt)
        tr
          td(style="vertical-align:top; padding: 0px 20px")
            span(class="purple f_bold" style="font-size: 17px; margin: 0;").
              &#8226;
          td(style="vertical-align:top; padding: 0px 0px 20px 0px;")
            span(class="purple f_bold" style="font-size: 17px; margin: 0;").
              Hyperglycemia and Diabetes Mellitus:
            span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
              Hyperglycemia, in some cases associated with ketoacidosis, hyperosmolar coma, or death, has been reported in patients treated with atypical antipsychotics. Assess fasting glucose before or soon after initiation of treatment, and monitor periodically during long-term treatment.
        tr
          td(style="vertical-align:top; padding: 0px 20px")
            span(class="purple f_bold" style="font-size: 17px; margin: 0;").
              &#8226;
          td(style="vertical-align:top; padding: 0px 0px 20px 0px;")
            span(class="purple f_bold" style="font-size: 17px; margin: 0;").
              Dyslipidemia:
            span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
              Atypical antipsychotics cause adverse alterations in lipids. Before or soon after starting an antipsychotic, obtain baseline fasting lipid profile and monitor periodically during treatment.
        tr
          td(style="vertical-align:top; padding: 0px 20px")
            span(class="purple f_bold" style="font-size: 17px; margin: 0;").
              &#8226;
          td(style="vertical-align:top; padding: 0px;")
            span(class="purple f_bold" style="font-size: 17px; margin: 0;").
              Weight Gain:
            span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
              Weight gain has been observed with VRAYLAR. Monitor weight at baseline and frequently thereafter.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Leukopenia, Neutropenia, and Agranulocytosis:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Leukopenia/neutropenia have been reported with antipsychotics, including VRAYLAR. Agranulocytosis (including fatal cases) has been reported with other antipsychotics. Monitor complete blood count in patients with pre-existing low white blood cell count (WBC)/absolute neutrophil count or history of drug-induced leukopenia/neutropenia. Discontinue VRAYLAR at the first sign of a clinically significant decline in WBC and in severely neutropenic patients.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Orthostatic Hypotension and Syncope:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Atypical antipsychotics cause orthostatic hypotension and syncope, with the greatest risk during initial titration and with dose increases. Monitor orthostatic vital signs in patients predisposed to hypotension and in those with cardiovascular/cerebrovascular diseases.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Falls:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        VRAYLAR may cause somnolence, postural hypotension, motor and sensory instability, which may lead to falls and, consequently, fractures, or other injuries. For patients with diseases, conditions, or medications that could exacerbate these effects, complete fall risk assessments when initiating antipsychotics and recurrently for patients on long-term therapy.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Seizures:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Use VRAYLAR with caution in patients with history of seizures or with conditions that lower the seizure threshold.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Potential for Cognitive and Motor Impairment:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Somnolence was reported with VRAYLAR. Caution patients about performing activities requiring mental alertness (eg, operating hazardous machinery or a motor vehicle).
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Body Temperature Dysregulation:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Use VRAYLAR with caution in patients who may experience conditions that increase body temperature (eg, strenuous exercise, extreme heat, dehydration, or concomitant anticholinergics).
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Dysphagia:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Esophageal dysmotility and aspiration have been associated with antipsychotics. Antipsychotic drugs, including VRAYLAR, should be used cautiously in patients at risk for aspiration.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Drug Interactions:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        Strong CYP3A4 inhibitors increase VRAYLAR concentrations, so VRAYLAR dose reduction is recommended. Concomitant use with CYP3A4 inducers is not recommended.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="purple f_bold" style="font-size: 17px; margin: 0;").
        Adverse Reactions:
      span(class="gray_isi f_normal" style="font-size: 15px;  margin: 0; padding-bottom:20px;").
        In clinical trials, the most common adverse reactions (≥5% and at least twice the rate of placebo) are listed. The incidences within the recommended dose range (VRAYLAR 3 – 6 mg/day vs placebo) were: EPS (26% vs 12%), akathisia (20% vs 5%), vomiting (10% vs 4%), dyspepsia (7% vs 4%), somnolence (7% vs 4%), and restlessness (7% vs 2%).
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px;" bgcolor="#ffffff")
      span(class="gray f_bold" style="font-size: 15px;  margin: 0;").
        Please also see full #[a(href="#" target="_blank" style="color: #702277;" class="f_bold") Prescribing Information], including Boxed Warning.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 0px 20px 20px 20px" bgcolor="#ffffff")
      span(class="gray f_bold" style="font-size: 10px;  margin: 0;").
        References:
      span(class="gray f_normal" style="font-size: 10px;  margin: 0; line-height:18px;").
        1. VRAYLAR (cariprazine) [package insert]. Irvine, CA: Allergan USA, Inc.; 2017. 2. Calabrese JR, Keck PE Jr, Starace A, et al. J Clin Psych. 2015;76(3):284-292. 3. Durgam S, Starace A, Li D, et al. Bipol Disord. 2015;17(1):63-75. 4. Sachs GS, Greenberg WM, Starace A, et al. J Affect Disord. 2015;174:296-302
  tr
    td(align="center" valign="top" style="font-size:0; padding: 0px;" bgcolor="#ffffff")
      table(align="left" width="300")&attributes(tableAtt)
        tr
          td(align="left" valign="top" style=`font-family: ${fallback}; font-size:30px; line-height: 32px; padding:10px 0px 10px 30px;` class="f_bold")
            img(src=img_path+"vraylar-logo.png" width="264" height="50")
      table(align="right" width="300")&attributes(tableAtt)
        tr
          td(class="f_normal" align="left" valign="top" style=`font-family: ${fallback}; font-size: 48px; line-height: 20px; padding:20px 20px 10px 0px;`)
            span(class="gray f_normal" style="font-size: 15px;  margin: 0;").
              For more information about VRAYLAR, visit #[a(href="#" target="_blank" style="color: #702277;" class="f_bold") VRAYLARHCP.com], or call Allergan Medical Information toll-free at 1.800.678.1605.
  tr
    td(align="left" valign="top" style="font-size:0; padding: 20px;" bgcolor="#ffffff")
      span(class="gray f_normal" style="font-size: 15px;  margin: 0;").
        We respect your privacy. See our #[a(href="#" target="_blank" style="color: #702277;" class="f_bold") Privacy Statement].
