@import "variables.scss";

.white{
  color: $white;
}

.f_normal{
  font-weight: 400;
}

.f_bold{
  font-weight: 800;
}

.grey {
  color: $grey;
}

.black {
  color: $black;
}

.purple {
  color: $purple;
}

.green {
  color: $green;
}

.footer_green {
  color: $footer_green;
}

.grey_isi {
  color: $grey_isi;
}
