@import "variables.scss";

.white{
  color: $white;
}

.f_normal{
  font-weight: 400;
}

.f_bold{
  font-weight: 800;
}

.gray {
  color: $gray;
}

.black {
  color: $black;
}

.purple {
  color: $purple;
}

.green {
  color: $green;
}

.footer_green {
  color: $footer_green;
}

.gray_isi {
  color: $gray_isi;
}

.gray_button {
  color: $gray_button;
}
